<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".glsl" />
            <mimeMap fileExtension=".glsl" mimeType="text/plain; charset=UTF-8" />
            <remove fileExtension=".mp4" />
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <remove fileExtension=".png" />
            <mimeMap fileExtension=".png" mimeType="image/png" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
        </staticContent>
    </system.webServer>
</configuration>
