html {
    width:              100%;
    height:             100%;
    overflow:           hidden;
    padding:            0px;
}

body {
    background-color:   #304080;
    width:              100%;
    height:             100%;
    overflow:           auto;
    padding:            0px;
    font-family:        sans-serif;
    color:              white;
}

canvas {
    background-color:   #ff0000;
}

div {
    margin-left:        auto;
    margin-right:       auto;
    width:              854px;
    text-decoration:    none;
}

div#title {
    margin-top:         20px;
}

div#footer {
    margin-top:         5px;
}

